/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

basckisback2.code-workspace

*.code-workspace

tailwind.config.js
database/migrations/2021_05_08_090513_create_courses_table.php
database/migrations/2021_05_08_090513_create_courses_table.php
database/migrations/2021_05_11_212821_asignaturas.php
database/migrations/2021_05_11_213202_schedule.php
database/migrations/2021_05_13_200538_create_messages_table.php
database/migrations/2021_05_13_203952_create_notifications_table.php
database/migrations/2021_05_15_222828_exams.php
database/migrations/2021_05_15_224454_works.php
database/migrations/2021_05_15_233306_percentages.php
database/migrations/2021_05_15_233323_enrollments.php
